*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #F5F5F5;
    font-family: 'Roboto', sans-serif;
}



/*globals*/



h2{
    font-size: 24px;
    font-weight: 700;
}
h3{
    font-size: 16px;
    font-weight: 700;
}
p{
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}



input, label{
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    transition: 0.2s ease-in-out;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button, input[type=number]{
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}



.hidden{
    display: none!important;
}
.valid{
    background: #E7FEF6 !important;
    border: 2px solid #63A48C !important;
    outline: none !important;
    font-weight: 700 !important;
}
.invalid{
    background: #FEE7E7 !important;
    border: 2px solid #A46363 !important;
    outline: none !important;
    font-weight: 700 !important;
}


/*elements*/



.hero{
    width: 100%;
    min-height: 50vh;
    background: #ffffff;
}



.container{
    width: 1200px;
    min-width: 320px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 40px;
}



.results{
    width: 100%;
    height: fit-content;
    margin: 40px auto 40px auto;

    background: #ffffff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    position: sticky;
    top: 40px;
}
.results p{
    font-weight: 700;
    line-height: normal;
}
.total{
    width: 100%;
    padding: 20px 40px;

    border-radius: 20px;
    background: #E7FEF6;
    border: 2px solid #63A48C;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total div{
    font-size: 24px;
    font-weight: 700;
}
.details{
    padding: 20px 40px;
}
.summary{
    width: 100%;
    margin: 10px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.summary div{
    font-size: 24px;
    font-weight: 700;
}



.form{
    width: 100%;
}
.section{
    padding: 40px;
    margin: 40px auto;
    background: #ffffff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.description{
    margin-top: 20px;
    color: #808080;
    text-align: justify;
}



.inputs{
    width: fit-content;
    margin: 40px auto 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 40px;
    row-gap: 20px;
    align-items: center;
}
.inputs h3{
    width: 100%;
    text-align: right;
}



.number input{
    width: 100px;
    height: 40px;
    border: 2px solid #CCCCCC;
    border-radius: 5px;
    text-align: center;
}
.number input:hover{
    border: 2px solid #999999;
    cursor: pointer;
}
.number input:focus{
    outline: none;
    font-weight: 700;
}



.marks{
    display: flex;
    justify-content: center;
    align-items: center;
}
.marks input{
    display: none;
}
.marks label{
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border: 2px solid #CCCCCC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.marks label:last-child{
    margin-right: 0;
}
.marks label:hover{
    border: 2px solid #999999;
    cursor: pointer;
}
.marks input:checked + label{
    background: #E7FEF6;
    border: 2px solid #63A48C;
    outline: none;
    font-weight: 700;
}



.yes-no input{
    display: none;
}
.yes-no label{
    width: 80px;
    height: 40px;
    border: 2px solid #CCCCCC;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.yes-no label:hover{
    border: 2px solid #999999;
    cursor: pointer;
}
.yes-no input:checked + label{
    background: #E7FEF6;
    border: 2px solid #63A48C;
    outline: none;
    font-weight: 700;
}



.question{
    margin-top: 40px;
}
.answears{
    margin-top: 20px;
}
.question h3, .answear label{
    text-align: justify;
}
.answear label{
    padding: 20px;
    display: grid;
    border: 2px solid #ffffff;
    border-radius: 5px;
    grid-template-columns: auto 1fr;
    column-gap: 20px;
    align-items: center;
    position: relative;
}
.answear label input{
    display: none;
}
.custom-radio{
    width: 20px;
    height: 20px;
    border: 2px solid #CCCCCC;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}
.answear label:hover{
    border: 2px solid #CCCCCC;
    cursor: pointer;
    outline: none;
}
.answear label:hover .custom-radio{
    background: #CCCCCC;
}
.answear input:checked~.custom-radio{
    background: #63A48C;
    border: 2px solid #63A48C;
}



/*media queries*/



@media(max-width: 1279px){
    .container{
        width: 100%;
        grid-template-columns: 1fr;
    }
    .results, .section{
        max-width: 1000px;
    }
}



@media(max-width: 500px){
    .section h2{
        text-align: center;
    }
    .section p{
        line-height: 120%;
    }

    .grades{
        grid-template-columns: 1fr;
    }
    .grades h3{
        text-align: center;
    }

    .answear label{
        padding: 20px 0;
        text-align: left;
    }
    .answear label:hover{
        border: 2px solid #ffffff;
    }
}